@inherits DotNetNuke.Web.Razor.DotNetNukeWebPage<dynamic>


@{
    var db = Database.Open("SiteSqlServer");
    
    foreach (var dbRow in db.Query("SELECT * FROM country" ))
    {
        
        string dbRowName = dbRow.Name;
        string Name = dbRowName.TrimEnd();

        var dbRowSurfaceArea = dbRow.SurfaceArea;
        string SurfaceArea = dbRowSurfaceArea.ToString("n");

        string mapURL = "https://www.google.co.uk/maps/place/" + Name;
        string flagURL = "http://www.sciencekids.co.nz/images/pictures/flags96/" + Name + ".jpg";


        <div class="col-md-3" style="height:250px; overflow:hidden;">
            <img src="@flagURL" onerror="this.src = 'http://www.placehold.it/96x69'" />
            <h1>@Name</h1>
            <p>Surface Area: @SurfaceArea </p>
            <a href="@mapURL">Map</a>
            
        </div>
   
    }
    
}