@inherits DotNetNuke.Web.Razor.DotNetNukeWebPage<dynamic>


@{
    
    string CurrentURL = DotNetNuke.Entities.Tabs.TabController.CurrentPage.FullUrl; 
    
    var db = Database.Open("SiteSqlServer");
    
    string SortBy;

    SortBy = string.IsNullOrEmpty(Request.QueryString["SortBy"]) ? "Name" : Request["SortBy"];

   // SortBy = Request.QueryString["SortBy"];


    string dbQuery;

    //dbQuery = "SELECT * FROM country"; - Basic Query
    //dbQuery = "SELECT * FROM country ORDER BY "+ SortBy; // ASC | DSC
    
    dbQuery = "SELECT * FROM country INNER JOIN city ON city.ID= country.Capital ORDER BY country."+ SortBy; //SQL Join City & Country
    
    
    

    foreach (var dbRow in db.Query(dbQuery))
    {

        string CountryName = dbRow.Name.TrimEnd();

        string CCode = dbRow.Code.TrimEnd();

        string SurfaceArea = dbRow.SurfaceArea.ToString("n");

        //string mapURL = "https://www.google.co.uk/maps/place/" + CountryName;
        
        string flagURL = "http://www.sciencekids.co.nz/images/pictures/flags96/" + CountryName.Replace(" ","_") + ".jpg"; //Replaces spaces with underscores for better accuracy


        <div class="col-md-3" style="height:250px; overflow:hidden;">

            <img src="@flagURL" onerror="this.src = 'http://www.placehold.it/96x69'" />
            <a href="@CurrentURL/CCode/@CCode"><h1>@CountryName</h1></a>
            <p>Surface Area: @SurfaceArea </p>

        </div>

    }

}